<template>
  <div class="">
    <img src="~/static/img/avatar.png" alt=""/>
  </div>
</template>


<style scoped>
  img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
  }
</style>
