<template>
  <div class="uk-text-center" style="position: relative">
    <div class="cub">
      <div class="cub-wp">
        <div class="back side"></div>
        <div class="left side"></div>
        <div class="right side"></div>
        <div class="top side"></div>
        <div class="bottom side"></div>
        <div class="front side"></div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "cub"
  }
</script>

<style scoped lang="scss">
  .cub {
    top: 30px;
    right: 48%;
    position: absolute;
    .side,
    .cub-wp {
      width: 6em;
      height: 6em;
    }

    .cub-wp {
      transform-style: preserve-3d;
      animation: rotate 10s infinite linear;
    }

    .side {
      background: #000;
      position: absolute;
      width: 6em;
      height: 6em;
      transform-style: preserve-3d;
    }
    .side:before,
    .side:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      transform: translateZ(2em) rotateZ(45deg);
    }
    .side:before {
      width: 5em;
      height: 5em;
      box-shadow: 0 0 10px 5px rgba(255, 255, 255, .5) inset;
      border: 2px dotted rgba(255, 255, 255, .5);
      border-radius: 20px;
      box-sizing: border-box;
      transform: translateZ(3em) rotateZ(45deg);
    }
    .side:after {
      width: 10em;
      height: 10em;
      box-shadow: 0 0 20px 10px rgba(255, 255, 255, .5) inset;
      border: 4px dotted rgba(255, 255, 255, .5);
      box-sizing: border-box;
      transform: translateZ(2em) rotateZ(45deg);
    }

    .back {
      transform: translateZ(-3em) rotateY(180deg);
      background: rgba(0, 0, 0, .9) url('../static/img/fantasy-nails.ru.png') center;
      background-size: 100% 100%;
    }

    .left {
      transform: translateX(-3em) rotateY(-90deg);
      background: rgba(0, 0, 0, .9) url('../static/img/aviatut.com.png') center;
      background-size: 100% 100%;
    }

    .right {
      transform: translateX(3em) rotateY(90deg);
      background: rgba(0, 0, 0, .9) url('../static/img/tut.travel.png') center;
      background-size: 100% 100%;
    }

    .top {
      transform: translateY(-3em) rotateX(90deg);
      background: rgba(0, 0, 0, .9) url('../static/img/it-caffe.com.png') center;
      background-size: 100% 100%;
    }

    .bottom {
      transform: translateY(3em) rotateX(-90deg);
      background: rgba(0, 0, 0, .9) url('../static/img/proxys.io.png') center;
      background-size: 100% 100%;
    }

    .front {
      transform: translateZ(3em);
      background: rgba(0, 0, 0, .9) url('../static/img/appvtop.ru.png') center;
      background-size: 100% 100%;
    }

    @keyframes rotate {

      100% {
        transform: rotateX(360deg) rotateY(-1080deg) rotateZ(-1440deg);
      }
    }

  }

</style>
