<template>
  <no-ssr>
    <div class="main-menu" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">
      <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar" uk-navbar>
          <a class="uk-logo uk-margin-auto-vertical" href="/">
            <img alt="" src="~/static/img/favicon-32x32.png"/>
            <div class="logo-title uk-hidden\@s">
              <div class="logo-title-name">vladimir smirnov</div>
              <div class="logo-title-desc">full stack web developer</div>
            </div>
          </a>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <nuxt-link tag="li" to="/"><a>Главная</a></nuxt-link>
              <nuxt-link tag="li" to="/works"><a>Портфолио</a></nuxt-link>
              <nuxt-link tag="li" to="/skills"><a>Навыки</a></nuxt-link>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </no-ssr>
</template>
<style scoped lang="scss">
  .main-menu {
    box-shadow: 0 4px 2px -2px rgba(150, 150, 150, 0.2);
    background: #fff;
    .menu-active {
      border-bottom: 4px solid #ff0047;
    }
    .uk-logo {
      img {
        float: left;
        padding: 3px 5px 0 0;
      }
      .logo-title > div {
        color: #333;
        text-transform: uppercase;
        white-space: nowrap;
      }
      .logo-title-name {
        font-weight: bold;
        font-size: 14px;
      }
      .logo-title-desc {
        font-size: 12px;
      }
    }
    nav {
      font-family: "Open Sans";
      li {
        &.exact-active-link {
          border-bottom: 4px solid #ff0047;
        }
        text-align: right;
        a {
          font-size: 13px;
          font-weight: bold;
          color: #333;

        }
      }
    }


  }
</style>
