<template>
  <section class="uk-container">
    <div uk-height-viewport="offset-top: 100">
      <div class="uk-position-center">
        <app-logo/>
        <div class="uk-grid uk-flex-center" uk-grid>
          <div class="uk-width-4-5">
            <div class="subtitle">
              День добрый! Меня зовут Владимир, последние ~7 лет профессионально занимаюсь разработкой веб-сайтов. А на
              этом сайте вы сможете увидеть некоторые выполненные мной проекты, и инструменты с которыми мне приходилось
              работать.<br>При желании вы всегда можете <a href="mailto:delpfine@mail.ru">со мной связаться</a>.

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import AppLogo from '~/components/AppLogo.vue'

  export default {
    components: {
      AppLogo
    }
  }
</script>

<style>
  .uk-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
    display: block;
    font-weight: 300;
    font-size: 70px;
    color: #35495e;
    letter-spacing: 1px;
  }

  .subtitle {
    font-weight: 300;
    font-size: 1.5em;
    color: #526488;
    word-spacing: 5px;
    margin: 50px 0 20px;
  }

  .links {
    padding-top: 15px;
  }
</style>
