<template>
  <div uk-height-viewport="offset-top:70">
    <section class="uk-container">
      <div class="uk-text-center">
        <h1 class="uk-h2">Навыки</h1>
        <p>Графики основаны на опыте, проведенном времени и частоты использования того или иного инструмента.</p>
      </div>
      <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match uk-grid" uk-grid>
        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-grid-margin">
            <h5>Языки программирования / Разметки / Бызы данных </h5>
            <div id="chartLang"></div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-grid-margin">
            <h5>Фреймворки / Библиотеки</h5>
            <div id="chartFramework"></div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-grid-margin">
            <h5>Софт для разработки</h5>
            <div id="chartSoft"></div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-grid-margin">
            <h5>Прочие инструменты</h5>
            <div id="chartTools"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  /* eslint-disable-next-line */
  export default {
    name: "skills",

    data: () => {
      return {
        chartLang: [
          {
            "skill": "PHP",
            "percent": 90,
          }, {
            "skill": "MY(SQL)",
            "percent": 95,
          },
          {
            "skill": "MongoDB",
            "percent": 85
          },
          {
            "skill": "Redis",
            "percent": 95
          },
          {
            "skill": "HTML/XML/JSON",
            "percent": 95
          }, {
            "skill": "Javascript",
            "percent": 90
          }, {
            "skill": "Python",
            "percent": 75
          },
          {
            "skill": "PyGtk / Glade",
            "percent": 75
          },
          {
            "skill": "GO",
            "percent": 55
          }
        ],
        chartFramework: [
          {
            "skill": "NodeJS (JS)",
            "percent": 75
          },
          {
            "skill": "Jquery (JS)",
            "percent": 95
          },
          {
            "skill": "VueJs (JS)",
            "percent": 80
          },
          {
            "skill": "GSAP (JS)",
            "percent": 80
          },
          {
            "skill": "NW (JS)",
            "percent": 70
          },
          {
            "skill": "Yii (PHP)",
            "percent": 90
          },
          {
            "skill": "Codeigniter (PHP)",
            "percent": 85
          },
          {
            "skill": "FuelPhp (PHP)",
            "percent": 85
          },
          {
            "skill": "Twig (PHP)",
            "percent": 85
          },
          {
            "skill": "Codeception (PHP)",
            "percent": 70
          },
          {
            "skill": "Bootstrap (CSS)",
            "percent": 95
          },
          {
            "skill": "UIKIT (CSS)",
            "percent": 95
          },
        ],
        chartSoft: [
          {
            "skill": "Photoshop",
            "percent": 70
          },
          {
            "skill": "Gimp",
            "percent": 85
          },
          {
            "skill": "Inkskape",
            "percent": 80
          },
          {
            "skill": "PhpStorm",
            "percent": 95
          },
          {
            "skill": "PyStorm",
            "percent": 95
          },
          {
            "skill": "WebStorm",
            "percent": 95
          },
          {
            "skill": "NetBeans",
            "percent": 80
          },
          {
            "skill": "HeidiSQL",
            "percent": 95
          },
          {
            "skill": "Robomongo",
            "percent": 85
          },
          {
            "skill": "Filezilla",
            "percent": 75
          },
        ],
        chartTools: [
          {
            "skill": "SCSS",
            "percent": 90
          },
          {
            "skill": "LESS",
            "percent": 90
          },
          {
            "skill": "TypeScript",
            "percent": 70
          },
          {
            "skill": "Gulp",
            "percent": 80
          },
          {
            "skill": "Webpack",
            "percent": 80
          },
          {
            "skill": "Composer",
            "percent": 95
          },
          {
            "skill": "Bower",
            "percent": 85
          },
          {
            "skill": "npm",
            "percent": 90
          },
          {
            "skill": "Linux / shell",
            "percent": 95
          },
          {
            "skill": "Git",
            "percent": 85
          },
        ]
      }
    },
    mounted() {
      let options = {
        "theme": "light",
        "type": "serial",
        "startDuration": 1,
        "valueAxes": [{
          "position": "left",
        }],
        "graphs": [{
          "balloonText": "[[category]]: <b>[[value]]</b>",
          "fillColorsField": "color",
          "fillAlphas": 1,
          "lineAlpha": 0.1,
          "type": "column",
          "valueField": "percent"
        }],
        "depth3D": 20,
        "angle": 30,
        "chartCursor": {
          "categoryBalloonEnabled": false,
          "cursorAlpha": 0,
          "zoomable": false
        },
        "categoryField": "skill",
        "categoryAxis": {
          "fontSize": 10,
          "gridPosition": "0",
          "labelRotation": 35
        }
      };
      for (let i = 0; i < this.chartLang.length; i++)
        this.chartLang[i].color = '#FF0F00'
      for (let i = 0; i < this.chartFramework.length; i++)
        this.chartFramework[i].color = '#FF6600'
      for (let i = 0; i < this.chartSoft.length; i++)
        this.chartSoft[i].color = '#FF9E01'
      for (let i = 0; i < this.chartTools.length; i++)
        this.chartTools[i].color = '#FCD202'

      let chartLangOptions = clone(options);
      let chartFrameworkOptions = clone(options);
      let chartSoft = clone(options);
      let chartTools = clone(options);

      chartLangOptions.dataProvider = this.chartLang;
      chartFrameworkOptions.dataProvider = this.chartFramework;
      chartSoft.dataProvider = this.chartSoft;
      chartTools.dataProvider = this.chartTools;

      AmCharts.makeChart("chartLang", chartLangOptions);
      AmCharts.makeChart("chartFramework", chartFrameworkOptions);
      AmCharts.makeChart("chartSoft", chartSoft);
      AmCharts.makeChart("chartTools", chartTools);

    }
  }

  function clone(obj) {
    let copy;

    // Handle the 3 simple types, and null or undefined
    if (null == obj || "object" !== typeof obj) return obj;

    // Handle Array
    if (obj instanceof Array) {
      copy = [];
      for (let i = 0, len = obj.length; i < len; i++) {
        copy[i] = clone(obj[i]);
      }
      return copy;
    }
    // Handle Object
    if (obj instanceof Object) {
      copy = {};
      for (let attr in obj) {
        if (obj.hasOwnProperty(attr)) copy[attr] = clone(obj[attr]);
      }
      return copy;
    }

    throw new Error("Unable to copy obj! Its type isn't supported.");
  }
</script>

<style scoped>
  h5 {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
  }

  #chartLang, #chartFramework, #chartSoft, #chartTools {
    width: 100%;
    height: 400px;
  }

</style>
