<template>
  <div uk-height-viewport="offset-top:70">
    <section class="uk-container">
      <div class="uk-text-center">
        <h1 class="uk-h2">Портфолио</h1>
        <p>На странице представлены некоторые из моих работ.</p>
      </div>
      <transition-group
        name="staggered-fade"
        tag="div"
        class="uk-child-width-1-4@m uk-grid-small uk-grid-match uk-grid"
        v-bind:css="false"
        v-on:before-enter="beforeEnter"
        v-on:enter="enter"
        v-on:leave="leave">
        <div v-bind:data-index="index" class="uk-card  uk-card-small uk-grid-margin"
             v-for="(item, index) in items" :key="item._id">
          <div class="uk-card-body  uk-card-default  uk-card-small  uk-card-hover">
            <div class="uk-card-media-top  uk-text-center ">
              <img :src="require('~/static/img/' + item.img)"/>
            </div>
            <a v-if="item.link" class="uk-button uk-button-danger uk-button-small" target="_blank" :href=item.link>{{item.title}}</a>
            <button v-if="!item.link" class="uk-button uk-button-default uk-button-small uk-disabled">{{item.title}}
            </button>
            <a target="_blank" v-if="item.source" href="https://bitbucket.org/delpfine/portfolio"
               class="uk-button uk-button-default uk-button-small">ИСХОДНИКИ</a>
            <p class="stack"><b>Основной стек технологий проекта: </b><br>
              <i v-if="index === 1" v-for="(stack, index) in item.stack" :key="index">{{stack}}</i>
              <i v-if="index !== 1" v-for="(stack, index) in item.stack" :key="index">, {{stack}}</i>
            </p>
          </div>
        </div>
      </transition-group>
    </section>
  </div>
</template>

<script>
  import axios from 'axios'
  import {setupCache} from 'axios-cache-adapter'

  export default {
    mounted() {
      const cache = setupCache({
        maxAge: 15 * 60 * 1000
      })
      const api = axios.create({
        adapter: cache.adapter
      })
      const host = document.location.hostname
      const port = process.env.NODE_ENV !== 'production' ? 3111 : 3001
      api({url: 'http://' + host + ':' + port + '/works', method: 'get'})
        .then(json => {
          this.setData(json.data)
        });
    },
    data: () => {
      return {
        items: []
      }
    },
    methods: {
      beforeEnter: function (el) {
        el.style.opacity = 0
        el.style.left = 0
      },
      enter: function (el, done) {
        var delay = el.dataset.index * 200
        setTimeout(function () {
          Velocity(
            el,
            {opacity: 1},
            {complete: done, left: 0}, "easeInSine"
          )
        }, delay)
      },
      leave: function (el, done) {
        var delay = el.dataset.index * 200
        setTimeout(function () {
          Velocity(
            el,
            {opacity: 0},
            {complete: done}, "easeInSine"
          )
        }, delay)
      },
      setData(data) {
        this.items = data
      }
    }
  }
</script>

<style scoped lang="scss">
  .uk-container {
    min-height: 100vh;
  }

  .stack {
    font-size: 12px;
    text-align: justify;
  }
</style>
